<div class="col-sm-5" id="divMobileForm">
    <form id="mobileLoginForm">
        <fieldset>
            <div class="form-group">
                <label for="mobileNumber">Mobile</label>
                <input class="form-control" id="mobileNumber" type="number">
            </div>
            <button class="btn btn-outline-primary" id="btnSubmitMobile">Submit</button>
        </fieldset>
    </form>
</div>