<div class="row justify-content-center align-items-center">
    <div class="col-sm-5" id="divPref">
        <form id="prefForm">
            <fieldset>
                <div class="form-group">
                    <label for="favCenters">Center List</label>
                    <input class="form-control" id="favCenters" type="text" placeholder="comma seperated list of your fav centers">
                </div>
                <button class="btn btn-outline-primary" id="btnSubmitPref">Submit</button>
            </fieldset>
        </form>
    </div>
</div>