<div class="col-sm-5" id="divOtpForm" style="display: none;">
    <form id="otpConfirmForm">
        <fieldset>
            <div class="form-group">
                <label for="otpInput">OTP</label>
                <input class="form-control" id="otpInput" type="text">
            </div>
            <button class="btn btn-outline-primary" id="btnSubmitOtp">Submit</button>
        </fieldset>
    </form>
</div>