<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     
    <!-- styles -->
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body">
    {{>header}}
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="linkShowSchedule" class="nav-link active" data-toggle="tab" href="#schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a id="linkShowLogin" class="nav-link" data-toggle="tab" href="#login">Login</a>
            </li>
        </ul>
    
        <div class="tab-content">
            <div class="main-content container-fluid tab-pane container active" id="schedule">
                {{>searchschedule}}
            </div>
            <div class="tab-pane container fade" id="login">
                <div class="row justify-content-center align-items-center">
                    {{>generateotp}}
                    {{>submitotp}}
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6">
                            <p class="message-1 lead"></p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- js -->
    <script src="/js/app.js"></script>

  </body>
</body>
</html>